/*
* Prefixed by Autoprefixer
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.yacht-carousel {
  padding: 30px 0px;
  overflow: hidden;
  width:100%;
}

.yacht-carousel .br-prod-list .br-head-product .yacht-carousel-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.yacht-carousel .br-prod-list .br-foot-product {
  display: none;
}

.yacht-carousel .br-prod-list .br-foot-product .br-button-- .br-button {
  padding: 0px 29px;
}

.yacht-carousel .br-prod-list .br-foot-product .br-button-- .br-button:not(:hover):before {
  width: 100%;
}

.yacht-carousel .br-prod-list .br-foot-product .br-button-- .br-button:before {
  height: 2.1rem;
}

.yacht-carousel .br-prod-list .br-foot-product .br-button-- .br-button__text {
  font-size: 15px;
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  -ms-grid-columns: 65% 30px 1fr;
  grid-template-columns: 65% 1fr;
  display: block;
  grid-gap: 30px;
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product .wp-caption {
  width: 60%;
  float: var(--left);
  display: block;
  margin-right: 15px;
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-button--
{
      float: right;
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-button-sld.alignright  
{
  float:right;
  margin-top:8px;
}
.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-button-sld a.br-btn
{
  padding: 4px 29px;
  border: 2px solid #fff;
  border-radius: 50px;
  font-weight: 400;
}
.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-button-sld a.br-btn i 
{
  margin-right: 5px;
}
.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-button-sld a.br-btn:hover 
{
  background-color: var(--primary);
  border:2px solid var(--primary);
  color:#191E29;
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-product-title.alignleft  {
  font-family: var(--heading);
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 5px;
  }
.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-product-title a
{
  color: var(--color-white);
}
.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-product-title a:hover
{
  color: var(--primary);
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product .wp-caption-text {
  font-family: var(--text);
  font-size: var(--text-font-size);
  color: var(--color-white);
}

.yacht-carousel-wrapper .slide-arrow-wrapper .slide-arrow-inner {
  float: var(--right);
  margin-bottom: 30px;
}

.yacht-carousel-wrapper button {
  display: inline;
  float: var(--left);
  border: 0px;
  background: none;
  cursor: pointer;
  padding: 0px;
}

.slide-arrow-wrapper button i {
  font-size: 22px;
  color: var(--text-color)
}

.slide-arrow-wrapper button.prev {
  margin-right: 10px;
}

.slide-arrow-wrapper button.next {
  margin-left: 10px;
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-btn a {
  text-transform: uppercase;
  font-size: var(--text-font-size);
  font-family: var(--text);
  color: var(--color-white);
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-btn a:hover {
  color: var(--primary);
}

.yacht-carousel .br-prod-list.slick-current .br-foot-product .br-btn img.icon-img {
  display: inline-block;
  margin-right: 5px;
}

.yacht-carousel .slide {
  display: block;
  -webkit-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
  overflow: hidden;
  height: 305px;
  margin-right: 30px;
}

.yacht-carousel .slide .br-head-product {
  height: 100%;
}

.yacht-carousel .slick-active {
  padding: 0px 0;
}

.yacht-carousel .child {
  width: 100%;
}

.yacht-carousel .slide:not(.slick-active) {
  cursor: pointer;
}

.yacht-carousel .slider {
  display: block;
  width: 100%;
  left: 0;
}

.yacht-carousel .slick-list {
  overflow: visible;
}

.yacht-carousel .slide-wrapper {
  width: 100%;
  display: inline-block;
  margin: 15px 0px;
  float: var(--right);
}



/* Layout 1 start */

.prod-slide-layout1 .yacht-carousel .br-prod-list .br-head-product .yacht-carousel-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.prod-slide-layout1 .yacht-carousel .slide {
  -webkit-transform: translate(-0%, 10%);
      -ms-transform: translate(-0%, 10%);
          transform: translate(-0%, 10%);
}

.prod-slide-layout1 .yacht-carousel .slick-current 
{
  -webkit-transform: translate(-12%, 0) scale(1.2);
      -ms-transform: translate(-12%, 0) scale(1.2);
          transform: translate(-12%, 0) scale(1.2);
}

.prod-slide-layout1 .yacht-carousel .slider {
  -webkit-transform: translateX(-474px);
      -ms-transform: translateX(-474px);
          transform: translateX(-474px);
}

/* Layout 1 end */


/* Layout 2 start */

.prod-slide-layout2 .yacht-carousel {
  padding: 0;
}

.prod-slide-layout2 .yacht-carousel .br-prod-list .br-head-product .yacht-carousel-img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.layout_2 .yacht-carousel .br-prod-list.slick-current .br-foot-product {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.prod-slide-layout2 .yacht-carousel .slide {
  -webkit-transform: translate(-0%, 0%);
      -ms-transform: translate(-0%, 0%);
          transform: translate(-0%, 0%);
}

.prod-slide-layout2 .yacht-carousel .slick-center {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.prod-slide-layout2 .yacht-carousel .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.prod-slide-layout2 .yacht-carousel .slider {
  -webkit-transform: translateX(-565px);
      -ms-transform: translateX(-565px);
          transform: translateX(-565px);
  margin: 0;
}

.prod-slide-layout2 .yacht-carousel .br-prod-list.slick-current .br-foot-product .br-product-title a {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
}

.prod-slide-layout2 .yacht-carousel .br-prod-list.slick-current .br-foot-product .wp-caption {
  width: 80%;
}

.prod-slide-layout2 .yacht-carousel .br-prod-list.slick-current .br-foot-product .br-btn i {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  font-size: 23px;
}

/* Layout 2 end */


/* For screens with a maximum width of 767px (typical for tablets and mobiles) */
@media (max-width: 767px) {
 
  .yacht-carousel .br-prod-list .br-head-product .yacht-carousel-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .yacht-carousel .br-prod-list.slick-current .br-foot-product {
    padding: 15px 8px;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-gap: 15px;
    left: 5px;
    right: 5px;
  }

  .yacht-carousel .slide {
    padding: 0px 5px;
    margin-right: 0px;
  }

  .yacht-carousel .br-prod-list.slick-current .br-foot-product .wp-caption {
    width: 100%;
  }

  .yacht-carousel .br-prod-list.slick-current .br-foot-product .br-product-title a {
    font-size: var(--text-font-size);
  }

  .yacht-carousel .br-prod-list .br-foot-product .br-button-- .br-button__text {
    font-size: 12px;
  }

  .yacht-carousel .br-prod-list.slick-current .br-foot-product .wp-caption-text {
    font-size: 12px;
    line-height: 16px;
    margin: 5px 0px 12px 0px;
  }

  .yacht-carousel .br-prod-list.slick-current .br-foot-product .br-btn {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    font-size: 12px;
  }

  .yacht-carousel .br-prod-list.slick-current .br-foot-product .br-btn a {
    font-size: 14px;
  }

  .prod-slide-layout1 .yacht-carousel .slider {
    -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
            transform: translateX(28px);
  }

  .prod-slide-layout1 .yacht-carousel .slick-current 
  {
    -webkit-transform: translate(-18%, 0) scale(1.3);
        -ms-transform: translate(-18%, 0) scale(1.3);
            transform: translate(-18%, 0) scale(1.3);
  }

  .prod-slide-layout1 .yacht-carousel .slide {
    height: 175px;
   
  }

  .prod-slide-layout2 .yacht-carousel .slider {
    -webkit-transform: translateX(-0px);
        -ms-transform: translateX(-0px);
            transform: translateX(-0px);
  }

  .prod-slide-layout2 .yacht-carousel .slide {
    height: 205px;
  }

  .prod-slide-layout2 .yacht-carousel {
    padding: 0px 0px;
  }
  .yacht-slides-wrapper .yacht-slides.location2 .slider
  {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }

  .yacht-slides.location2 .slide
  {
    margin-right:15px
  }
}


/* iPad screens */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .prod-slide-layout2 .yacht-carousel .slider {
    -webkit-transform: translateX(-375px);
        -ms-transform: translateX(-375px);
            transform: translateX(-375px);
  }

  .yacht-carousel .slide {
    height: 230px;
  }

  .prod-slide-layout1 .yacht-carousel .slider {
    -webkit-transform: translateX(-316px);
        -ms-transform: translateX(-316px);
            transform: translateX(-316px);
  }
  .prod-slide-layout1 .yacht-carousel .slick-current
  {
    -webkit-transform: translate(-9%, 0) scale(1.2);
        -ms-transform: translate(-9%, 0) scale(1.2);
            transform: translate(-9%, 0) scale(1.2);
  }

  .yacht-carousel .br-prod-list.slick-current .br-foot-product .wp-caption {
    width: 100%;
    margin-right: 0px;
  }

  .yacht-carousel .br-prod-list.slick-current .br-foot-product .br-btn {
    float: left;
  }
}